.hero-title {
    
    font-size: 3.5em;
    color: #7795f8 ;
  }
  .hero-title:before {
    content: '>\a0';
  }
  .hero-title span {
    background-color: rgba(#7795f8,#7795f8 );
    animation: caret 1s steps(1) infinite;
  }
  @keyframes caret {
    50% {
      background-color: #747fe0;
      
    }
  }
  
a{
    float: right;

}

#test{
        display: flex;
        alignItems: center;
        justifyContent: center;
        margin-left: 15%;
        margin-top: 3%;
 
}